import(methods, MASS, survival, VGAM, jsonlite, AER, plyr, dplyr,
       quantreg, geepack, MCMCpack)

exportPattern("^[[:alpha:]]+")
exportClasses(
     "Zelig",
     "Zelig-ls",
     "Zelig-glm",
     "Zelig-binchoice",
     "Zelig-logit",
     "Zelig-probit",
     "Zelig-gamma",
     "Zelig-exp",
     "Zelig-negbin",
     "Zelig-normal",
     "Zelig-poisson",
     "Zelig-lognorm",
     "Zelig-tobit",
     "Zelig-gee",
     "Zelig-binchoice-gee",
     "Zelig-logit-gee",
     "Zelig-probit-gee",
     "Zelig-gamma-gee",
     "Zelig-normal-gee",
     "Zelig-poisson-gee",
     "Zelig-bayes",
     "Zelig-factor-bayes",
     "Zelig-logit-bayes",
     "Zelig-mlogit-bayes",
     "Zelig-normal-bayes",
     "Zelig-oprobit-bayes",
     "Zelig-poisson-bayes",
     "Zelig-probit-bayes"
)

importFrom(methods, setRefClass)